<a href="https://colab.research.google.com/github/cli103/bbaltimore-city-firefighter-salary-python/blob/main/baltimore-salary-python-analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Import Libraries

In [1]:
#data analysis
import pandas as pd

In [2]:
#data visualisations
import matplotlib.pyplot as plt
import plotly.express as px

In [3]:
#download files to computer
from google.colab import files

# Import Data

In [4]:
# import data from Github
df=pd.read_csv("https://raw.githubusercontent.com/cli103/baltimore-city-firefighter-salary/main/Baltimore_City_Employee_Salaries.csv")

In [5]:
df.head()

    ID              Name  ... FiscalYear ObjectId
0    1  Aaron,Patricia G  ...     FY2011        1
1  151  Allen,Danielle Y  ...     FY2011        2
2   51  Adams,Margaret E  ...     FY2011        3
3  251       Amy,Kevin L  ...     FY2011        4
4  351    Arikan,Yusuf P  ...     FY2011        5

[5 rows x 10 columns]

#Cleaning Data

In [6]:
#deleting columns
del df["ID"]
del df["AgencyID"]
del df["HireDate"]
del df["ObjectID"]

KeyError: ignored

In [ ]:
df.head()

In [7]:
#make columns lower case
df.columns = df.columns.str.lower()

In [8]:
#make items within column upper cased
df["jobtitle"] = df["jobtitle"].str.upper()

In [9]:
df.head()

               name                       jobtitle  ... fiscalyear  objectid
0  Aaron,Patricia G  FACILITIES/OFFICE SERVICES II  ...     FY2011         1
1  Allen,Danielle Y        PARKING CONTROL AGENT I  ...     FY2011         2
2  Adams,Margaret E            PROGRAM ASSISTANT I  ...     FY2011         3
3       Amy,Kevin L                 POLICE OFFICER  ...     FY2011         4
4    Arikan,Yusuf P                  ACCOUNTANT II  ...     FY2011         5

[5 rows x 7 columns]

In [10]:
#create new data frame with EMT Fire Fighters
df_fire = df[df["jobtitle"]=="EMT FIRE FIGHTER"]

In [11]:
df_fire

                        name          jobtitle  ... fiscalyear  objectid
49964        Ali,Qadriyyah A  EMT FIRE FIGHTER  ...     FY2014     49965
50001            Ammi,Haki S  EMT FIRE FIGHTER  ...     FY2014     50002
50802     Blackledge,Raven L  EMT FIRE FIGHTER  ...     FY2014     50803
51540          Bowers,Kyle R  EMT FIRE FIGHTER  ...     FY2014     51541
51589       Briscoe,Damian L  EMT FIRE FIGHTER  ...     FY2014     51590
...                      ...               ...  ...        ...       ...
151250           Shin,Noah D  EMT FIRE FIGHTER  ...     FY2020    151251
151694          Smith,Sean W  EMT FIRE FIGHTER  ...     FY2020    151695
152157     Stewart,Anthony J  EMT FIRE FIGHTER  ...     FY2020    152158
153650  Williams,Christian F  EMT FIRE FIGHTER  ...     FY2020    153651
154222       Wills,Jasmine N  EMT FIRE FIGHTER  ...     FY2020    154223

[224 rows x 7 columns]

#Data Analysis Pandas Groupby

In [12]:
#using pandas groupby, create new aggregated data frame of average annual salary and gross pay
df_fire_agg = df_fire.groupby("fiscalyear").agg({"annualsalary":"mean","grosspay":"mean"}).reset_index()

In [13]:
df_fire_agg

  fiscalyear  annualsalary      grosspay
0     FY2014  58721.590909  78418.416364
1     FY2015  49779.488889  58478.784000
2     FY2016  36222.000000  25983.284000
3     FY2017  38881.844156  16097.340390
4     FY2018  38368.125000  23323.479583
5     FY2019  38827.000000  12564.854545
6     FY2020  39082.068966  27292.874138

In [14]:
#rename column headers
df_fire_agg.columns = df_fire_agg.columns = ["fiscalyear","average_annual_salary","average_gross_pay"]

In [15]:
df_fire_agg

  fiscalyear  average_annual_salary  average_gross_pay
0     FY2014           58721.590909       78418.416364
1     FY2015           49779.488889       58478.784000
2     FY2016           36222.000000       25983.284000
3     FY2017           38881.844156       16097.340390
4     FY2018           38368.125000       23323.479583
5     FY2019           38827.000000       12564.854545
6     FY2020           39082.068966       27292.874138

# Data Visualisation Plotly

In [16]:
#melt dataframe
df_fire_melt = pd.melt(df_fire_agg, id_vars=["fiscalyear"])

In [17]:
df_fire_melt.head()

  fiscalyear               variable         value
0     FY2014  average_annual_salary  58721.590909
1     FY2015  average_annual_salary  49779.488889
2     FY2016  average_annual_salary  36222.000000
3     FY2017  average_annual_salary  38881.844156
4     FY2018  average_annual_salary  38368.125000

In [ ]:
# make line graph in plotly express
fiscal_trend_line = px.line(df_fire_melt, x = "fiscalyear", y = "value", color = "variable",
                            title = "Baltimore City Salary Data for FY 2011-FY 2020",
                            labels = {"fiscalyear": "Fiscal Year", "value": "US Dollar Amount", "variable": "Type of Pay", "average_annual_salary": "Average Annual Salary", "average_gross_pay": "Average Gross Pay"})

In [ ]:
fiscal_trend_line

In [ ]:
# save as html file
fiscal_trend_line.write_html("plotly_line_salary.html")

In [ ]:
#download from google
files.download("plotly_line_salary.html")

# Data Visualisation 2

In [20]:
df_fire_agg

  fiscalyear  average_annual_salary  average_gross_pay
0     FY2014           58721.590909       78418.416364
1     FY2015           49779.488889       58478.784000
2     FY2016           36222.000000       25983.284000
3     FY2017           38881.844156       16097.340390
4     FY2018           38368.125000       23323.479583
5     FY2019           38827.000000       12564.854545
6     FY2020           39082.068966       27292.874138

In [34]:
df_fire_agg2 = df_fire_agg.tail(6)

In [35]:
df_fire_agg2

  fiscalyear  average_annual_salary  average_gross_pay
1     FY2015           49779.488889       58478.784000
2     FY2016           36222.000000       25983.284000
3     FY2017           38881.844156       16097.340390
4     FY2018           38368.125000       23323.479583
5     FY2019           38827.000000       12564.854545
6     FY2020           39082.068966       27292.874138

In [44]:
df_fire_agg3 = df_fire_agg2.assign(average_annual_salary_previous = [58721.590909, 
                                                49779.488889,
                                                36222.000000,
                                                38881.844156,
                                                38368.125000,
                                              38827.000000])

In [45]:
df_fire_agg3

  fiscalyear  ...  average_annual_salary_previous
1     FY2015  ...                    58721.590909
2     FY2016  ...                    49779.488889
3     FY2017  ...                    36222.000000
4     FY2018  ...                    38881.844156
5     FY2019  ...                    38368.125000
6     FY2020  ...                    38827.000000

[6 rows x 4 columns]

In [53]:
# make scatterplot in plotly express
fig = px.scatter(df_fire_agg3, x= "average_annual_salary_previous", y="average_annual_salary", trendline="ols", title = "Comparing the Annual Salary of Fire Fighters to the Previous Fiscal Year between 2015-2020")

In [54]:
fig

In [55]:
# save as html file
fig.write_html("plotly_scatter_salary.html")

In [56]:
#download from google
files.download("plotly_scatter_salary.html")